@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --cor-azul: #1E90FF; /* Use para cabeçalhos, links e botões principais */
  --cor-amarelo: #FFD700; /* Ótimo para botões secundários e ícones */
  --cor-cinza-claro: #F5F5F5; /* Ideal para o fundo do site */
  --cor-branco: #FFFFFF; /* Utilize para áreas de texto e espaços em branco */
}

body {
  background-color: var(--cor-cinza-claro);
  font-family: 'Poppins', sans-serif;
}

.custom-bg-blue {
  background-color:#003366;
}

.custom-bg-yellow {
  background-color: var(--cor-amarelo);
}

.custom-link:hover {
  @apply hover:underline;
  color: var(--cor-amarelo) !important;
  
}

.asv-paris-icon {
  @apply text-white;
}
