@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-azul: #003366;          /* Cabeçalhos, links e botões principais */
  --cor-amarelo: #FFD700;       /* Botões secundários e ícones */
  --cor-amarelo-escuro: #ffd000; /* Botões secundários e ícones */
  --cor-cinza-claro: #F5F5F5;   /* Fundo do site */
  --cor-branco: #FFFFFF;        /* Áreas de texto e espaços em branco */
}

/* Global Styles */
html, body {
  background-color: var(--cor-cinza-claro);
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

@media (max-width: 786px) {
  body, html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
  }
}

.custom-bg-blue {
  background-color: var(--cor-azul);
}

.custom-bg-yellow {
  background-color: var(--cor-amarelo);
}

/* Link Styling */
.custom-link {
  position: relative;
  color: var(--cor-branco) !important; /* Garante que a cor dos links seja branca */
  transition: color 0.2s ease;
}

.custom-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 3px;
  background-color: var(--cor-amarelo);
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.custom-link:hover {
  color: var(--cor-amarelo) !important;
}

.custom-link:hover::after {
  transform: scaleX(1);
}

/* Icon and Text Styling */
.asv-paris-icon {
  @apply text-white;
}

/* Team Member Box Hover */
.member-box {
  transition: transform 0.3s ease;
}

.member-box:hover {
  transform: scale(1.05);
}

