@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --cor-primaria: #1a73e8; /* Azul Suave */
  --cor-secundaria: #ffd700; /* Amarelo Ouro */
  --cor-neutra: #f5f5f5; /* Cinza Claro */
}

body {
  background-color: var(--cor-neutra);
}

.custom-bg-blue {
  background-color: var(--cor-primaria);
}

.custom-bg-yellow {
  background-color: var(--cor-secundaria);
}

.custom-link:hover {
  color: var(--cor-secundaria) !important;
}

.asv-paris-icon{
  @apply text-white;
}